<footer class="sit-footer">
    <div class="outer-container">
        <div class="container-fluid">


        </div><!-- .row -->
    </div><!-- .container -->

    <div class="footer-bar">
        <div class="outer-container">
            <div class="container-fluid">
                <div class="row justify-content-between">
                    <div class="col-12 col-md-6">
                        <div class="footer-copyright"><p>&copy;<script>document.write(new Date().getFullYear());</script>  | Made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://" target="_blank">Annie Phuong</a></p>
                        </div><!-- .footer-copyright -->
                    </div><!-- .col-xl-4 -->

                    <div class="col-12 col-md-6">
                        <div class="footer-social">
                            <ul class="flex justify-content-center justify-content-md-end align-items-center">
                              <li><a href="https://www.linkedin.com/in/anniept/"><i class="fa fa-linkedin"></i></a></li>
                              <li><a href="https://www.instagram.com/__pianne/?hl=vi"><i class="fa fa-instagram"></i></a></li>
                              <li><a href="https://www.facebook.com/Anieept"><i class="fa fa-facebook"></i></a></li>
                              <li><a href="https://www.pinterest.com/Anieept/"><i class="fa fa-pinterest"></i></a></li>
                            </ul>
                        </div><!-- .footer-social -->
                    </div><!-- .col-xl-4 -->
                </div><!-- .row -->
            </div><!-- .container-fluid -->
        </div><!-- .outer-container -->
    </div><!-- .footer-bar -->
</footer><!-- .sit-footer -->




<script type='text/javascript' src='../docs/js/jquery.js'></script>
<script type='text/javascript' src='../docs/js/swiper.min.js'></script>
<script type='text/javascript' src='../docs/js/custom.js'></script>

</body>
</html>
